.pub_2{
    font-size: 35px;
    margin-top: 50px;
    text-align: center  ;
}

.text p{
    font-size: 45px;
    margin-top: 30px;
    text-align: center;
}

.text span{
    color: green;
}

.text_2{
    color: green;
    font-size: 20px;
    text-align: center;
}

.motivacao{
    font-size: 20px;
    text-align: justify;
}

.objetivos{
    font-size: 20px;
    text-align: justify;
}

.objetivos span{
    color: green;
}
